.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* For AppHeader */
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
  background-color: #f3f3f3;
}

/* For Login */
.login-form {
  max-width: 320px;
  margin: 2% auto;
  padding: 20px 10px;
  border: inset #BFD8FF;
  border-radius: 5%;
  background-color: white;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

/* for sider menu */
.ant-layout-sider-trigger{
  background-color: #ededf7;
}

.ant-layout-sider-children > ul > .ant-menu-item,.ant-menu-submenu{
  padding-left: 12px !important;
}

.ant-layout-sider-children .ant-menu-submenu-title{
  padding-left: 0px !important;
}

.ant-layout-sider-children .ant-menu-item-only-child{
  padding-left: 24px !important;
}

.ant-layout-sider-children .ant-menu-sub{
  background-color: #f7f7fe !important;
}

/* for create contact form */
#createCustomerContact .ant-form-item-control-input-content{
  display: flex;
}

#createCustomerContact .ant-form-item .ant-form-item{
  margin-bottom: 10px;
}

.addressSectionName .ant-form-item-control-input-content{
  justify-content: flex-end;
}

.contactsTable .ant-table-cell {
  display: table-cell;
}

.contactsTable .ant-table-cell input{
  border-width: 0;
}

.contactsTable .ant-table-cell .ant-select-selector{
  border-width: 0;
}

.contactsTable .ant-table-cell input:hover{
  border-width: 1px;
}

.contactsTable .ant-table-cell .ant-select-selector:hover{
  border-width: 1px;
}

.contactsTable .ant-form-item {
  width: -webkit-fill-available;
  margin-bottom: 0 !important;
}

.contactsTable .ant-table-tbody>tr>td {
  padding: 0;
}